:root {
  --clr-tomato: hsl(4, 100%, 67%);
  --clr-dark-slate-grey: hsl(234, 29%, 20%);
  --clr-charcoal-grey: hsl(235, 18%, 26%);
  --clr-grey: hsl(231, 7%, 60%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-red: #ff5a67;
  --clr-error: rgba(255, 0, 0, 0.824);

  --br-smaller: .5rem;
  --br-bigger: 1rem;
}

@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

*, 
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'Roboto';
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  background-color: var(--clr-charcoal-grey);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

button {
  border: none;
}
